.difficulty-btn {
    padding: 12px 24px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
    border: 2px solid transparent;
  }
  
  .difficulty-btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  
  .difficulty-options {
    background-color: white;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .difficulty-container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  
  .difficulty-label {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .difficulty-btn.easy {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
  }
  
  .difficulty-btn.medium {
    background-color: #ff9800;
    color: white;
    border-color: #ff9800;
  }
  
  .difficulty-btn.hard {
    background-color: #f44336;
    color: white;
    border-color: #f44336;
  }
  
  #home-btn-fixed-element {
    font-size: 14px;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  #home-btn-fixed-element:hover {
    background-color: #f0f0f0;
  }
  

 
  #menu {
    position: absolute;
    top: 5rem;  /* Adjust the dropdown to appear below the button */
    right: 3rem; /* Align the dropdown with the button */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Position the menu slightly above its final position */
  } 
  
  /* When the menu is visible */
  #menu.show {
    opacity: 1;
    transform: translateY(0); /* Menu slides down */
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    #menu-btn {
      top: 1.5rem; /* Adjust top positioning on smaller screens */
      right: 1rem; /* Adjust right positioning on smaller screens */
    }
  
    #menu {
      right: 1rem; /* Align the dropdown menu with the button */
    }
  }
  
  #suggestions {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #suggestions div {
    padding: 8px;
    cursor: pointer;
  }
  
  #suggestions div:hover {
    background-color: #f0f0f0;
  }
  